@layer tokens, base, utilities, components, pages;

@import "./tokens.css" layer(tokens);
@import "./base.css" layer(base);
@import "./utilities.css" layer(utilities);
@import "./components.css" layer(components);
@import "./pages/home.css" layer(pages);