---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
    <h1>Service Description</h1>
    <p>
        Packaged Services
    </p>
    <hr class="separator"/>
    <p> Individual Services</p>
</BaseLayout>